<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GameVibe | Reseñas de Videojuegos</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>
	<nav>
		<a href="/">Inicio</a>
		<a href="/games">Juegos</a>
		<a href="/about">Acerca del proyecto</a>
		<a href="/contact">Contacto</a>

	</nav>
</header>

<main>
	{{{body}}}  </main>

<footer>
	<p>2026 - Javier Urbina</p>
</footer>

</body>
</html>